@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");



body {
	font-family: Montseerrat, serif;
	font-size: 18px;
	background-color: white;
	color : #7D1935;
	text-align: center;
	margin : 0px;
	padding: 10px;
}

h1, h2, h3 {
	font-family: Courrier, serif;
	font-weight: bold;
	color: #FF9292;
	}

h1 {
	font-size : 30px;
	font-weight: 800;
		} 

h2 { 
	text-decoration-line: underline;
	} 

p { 
	text-align: justify;
	text-align: center;
	} 

a {
	text-decoration: none;
	}


